.card__faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-50px);
}

.card__faq h1 {
    margin-bottom: 2rem;
    color: var(--very-dsblue);
    font-size: 2.5rem;
}

.accordion__item {
    border-bottom: 1px solid var(--light-grayblue);
}

.accordion__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    border: none;
    background: transparent;
    margin: 1rem 2rem 1rem 0rem;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dsblue);
    cursor: pointer;
}

.accordion__question:hover {
    color: var(--soft-red);
    font-weight: 700;
}

.accordion__question::after {
    content: ' ';
    display: block;
    border: none;
    width: 0.625rem;
    height: 1rem;
    background-image: url('/images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: transform 300ms ease-in-out;
}

.accordion__question.show {
    font-weight: 700;
}

.accordion__question.show::after {
    transform: rotate(180deg);
}

.accordion__collapse.collapse {
    display: none;

}

.accordion__collapse.collapse.show {
    display: block;
}

.accordion__content {
    line-height: 1.4;
    color: var(--veryd-grayblue);
    margin-bottom: 1rem;
}

@media screen and (min-width: 950px) { 
    .card__faq {
        display: block;
        padding: 3rem 3rem 3rem 0;
         transform: none;
    }

    .card__faq h1 {
        font-size: 2rem;
    }

    .accordion__question {
        font-size: 1rem;
    }
}
