/* Custom CSS Reset */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* font-family: Arial, sans-serif;
    line-height: 1.6; */
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  ul, ol {
    list-style: none;
  }
  
  /* Add more reset styles as needed for your project */
  