@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url('card.css');
@import url('faq.css');

:root {
    /* Text */
    --very-dsblue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --veryd-grayblue: hsl(237, 12%, 33%);
    --dark-grayblue: hsl(240, 6%, 50%);
    --light-grayblue: hsl(240, 5%, 91%);
    /* gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    min-height: 100vh;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    padding: 1rem;
}